{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
  <br>
  <h3 >Informacion sobre game Wallet</h3>
  <br>
  <p>Esta es una aplicación con web scraping desarrollada para la asignatura Ingenieria de sistemas de la información y realizada por: David Martín Cerezo,</p> 
  <p> La aplicación se ha desrrollado en <b>python y flask</b>. Como medio de publicación se ha utilizado <b>Google Cloud</b>.</p>
  <p>Como lenguaje principal se ha utlizado python ayudado con HTML5 y el framework Boostrap para dar un estilo atractivo a la pagina</p>
  <br>
{% endblock %}
